<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adriano Vieira">

    <link href="http://cdn-server.vieira.ws:8080/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn-server.vieira.ws:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <base href="/">
  </head>
  <body ng-app="ngViewExample">
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1><i class="fa fa-phone"></i> Hello {{yourName}}!</h1>
    </div>

    <div ng-controller="MainCtrl as main">
      Choose:
      <a href="Book/Moby">Moby</a> |
      <a href="Book/Moby/ch/1">Moby: Ch1</a> |
      <a href="Book/Gatsby">Gatsby</a> |
      <a href="Book/Gatsby/ch/4?key=value">Gatsby: Ch4</a> |
      <a href="Book/Scarlet">Scarlet Letter</a><br/>

      <div class="view-animate-container">
        <div ng-view class="view-animate"></div>
      </div>
      <hr />

      <pre>$location.path() = {{main.$location.path()}}</pre>
      <pre>$route.current.templateUrl = {{main.$route.current.templateUrl}}</pre>
      <pre>$route.current.params = {{main.$route.current.params}}</pre>
      <pre>$routeParams = {{main.$routeParams}}</pre>
    </div>

    <script src="http://cdn-server.vieira.ws:8080/angular/angular.min.js"></script>
    <script src="http://cdn-server.vieira.ws:8080/angular-route/angular-route.js"></script>
    <script src="http://cdn-server.vieira.ws:8080/angular-animate/angular-animate.js"></script>
    <script src="app.js"></script>
  </body>
</html>
